@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #06060F;
  color: #E8EEFF;
  font-family: 'Space Grotesk', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
